---
import {
  EmailIcon,
  GithubIcon,
  MdiLinkedin,
  NotionIcon,
  TwitterXIcon,
} from '~/components/ui/icons';
import { cn } from '~/libs/utils';

type Props = {
  class?: string;
};

const { class: className, ...props } = Astro.props;
---

<div {...props} class={cn('flex gap-0.5', className)}>
  <a
    style="--lv-wait: 1;"
    class="hover:bg-selection hover:text-body rounded-sm p-1 transition-colors"
    href="mailto:wkdeogks17@gmail.com"
    aria-label="email"
  >
    <EmailIcon />
  </a>
  <a
    style="--lv-wait: 1;"
    class="hover:bg-selection hover:text-body rounded-sm p-1 transition-colors"
    href="https://github.com/aksworns22"
    target="_blank"
    aria-label="github"
  >
    <GithubIcon />
  </a>
  <a
    style="--lv-wait: 1;"
    class="hover:bg-selection hover:text-body flex items-center gap-1 rounded-sm p-1 transition-colors"
    href="https://www.notion.so/34a319cc2ee180fe824accef64d3a8eb"
    target="_blank"
    aria-label="resume"
  >
    <NotionIcon />
    <span class="text-xs leading-tight">resume</span>
  </a>
</div>
